<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/assets/img/favicon.ico" />
    <title>Studious Hexa Memory</title>

    <!-- SEO -->
    <meta name="description" content="Application de révisions" />
    <meta name="author" content="Yohann THEPAUT <contact@ythepaut.com> (ythepaut)" />

    <!-- Style -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

    <!-- KateX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.css" integrity="sha384-qCEsSYDSH0x5I45nNW4oXemORUZnYFtPy/FqB/OjqxabTMW5HVaaH9USK4fN3goV" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.js" integrity="sha384-YFVvRUwgqxkAVN9bmAVLsKilmOKfQLyUx0ZlmDNs0aBUTsvMLnRxE3Km0NrZa0i9" crossorigin="anonymous"></script>

    <script src="/js/utils.js"></script>
    <script defer src="/js/modal.js"></script>
    <script defer src="/js/tab.js"></script>
    <script defer src="/js/navbar.js"></script>
    <script defer src="/js/ajax.js"></script>
    <script defer src="/js/loading.js"></script>
</head>

<body>

    <nav class="navbar" aria-label="main navigation">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/img/logo.png" width="330" height="28" alt=" ">
            </a>

            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    S'entraîner
                </a>


                <% if (typeof user !== "undefined" && (user.role === "ADMIN" || user.role === "OWNER")) { %>
                    <a class="navbar-item" href="/exercise/list">
                        Gérer les exercices
                    </a>
                <% } %>

                <% if (typeof user !== "undefined" && user.role === "OWNER") { %>
                    <a class="navbar-item" href="/account/list">
                        Gérer les comptes
                    </a>
                <% } %>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Plus
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about">
                            A propos
                        </a>
                        <a class="navbar-item" href="/legal">
                            Mentions légales
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-light" href="/account/me">
                            <% if (typeof user !== "undefined") { %>
                                Bonjour <%= user.username %> !
                            <% } else { %>
                                    <span class="icon is-small">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </span>
                                    <span>Se connecter</span>
                            <% } %>
                        </a>
                        <a class="button is-light" href="https://github.com/ythepaut/studious-hexa-memory" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <main>

        <div class="loading-container">
            <div class="loading-animation"></div>
        </div>
