<%- include('./includes/header') %>

<div class="columns">
    <div class="column mt-6">
        <p class="is-size-5" style="top:40%;position:absolute;">
            <b>Oups</b> une erreur est survenue.
        </p>
    </div>

    <div class="column is-two-fifths">
        <img src="/assets/img/error.png" alt="" />
    </div>
</div>


<%- include('./includes/footer') %>
