<%- include('./includes/header') %>

<div class="columns is-vcentered">
    <div class="column">
        <p class="is-size-5" style="top:40%;">
            <b>Oups</b> une erreur est survenue.
            <% if (typeof verbose !== "undefined") { %>
                <br />
                <%= verbose %>
            <% } %>
        </p>
    </div>

    <div class="column is-two-fifths">
        <img src="/assets/img/error.png" alt="" />
    </div>
</div>


<%- include('./includes/footer') %>
