<%- include('../includes/header') %>

<div class="columns is-vcentered">
    <div class="column">

        <p class="is-size-5" style="top:40%;">
            <b>Studious Hexa Memory</b> est un site d’entraînement et de révision sur des exercices proposés par ses utilisateurs.<br />
            Le but n’est pas de répondre aux exercices depuis le site sous la forme d’un QCM, mais plutôt de faire l’énoncé proposé par l’exercice dans un temps imparti.<br />
            Une fois ce temps écoulé ou après avoir finit l’exercice, vous pourrez consulter sa correction et valider ou non votre résultat.
            <br /><br />
            Les fonctionnalités de Studious Hexa Memory sont développées par <a href="https://www.ythepaut.com/" target="_blank">Yohann THEPAUT</a> et supervisées par <a href="https://www.youtube.com/channel/UCtgWzEBDJy_Jj7J7v2Y39UA" target="_blank">Baptiste BRUGEROLLE</a>.
            <br />
            Code source disponible sur <a href="https://github.com/ythepaut/studious-hexa-memory" target="_blank">GitHub</a> sous licence GNU GPL v3.
        </p>

    </div>

    <div class="column is-two-fifths">
        <img src="/assets/img/about.png" alt="" />
    </div>
</div>


<%- include('../includes/footer') %>
