<%- include('../includes/header') %>

<div class="columns">
    <div class="column mt-6">

        <p class="is-size-5" style="top:40%;position:absolute;">
            <b>Studious Hexa Memory</b> est un site d'entraînement et de révisions d'exercices,<br />
            venant d'une idée de Baptiste BRUGEROLLE et réalisé par <a href="https://www.ythepaut.com/" target="_blank">Yohann THEPAUT</a>.<br />
            <br />
            Code source disponible sur <a href="https://github.com/ythepaut/studious-hexa-memory" target="_blank">GitHub</a> sous licence GNU GPL v3.
        </p>

    </div>

    <div class="column is-two-fifths">
        <img src="/assets/img/about.png" alt="" />
    </div>
</div>


<%- include('../includes/footer') %>
