<%- include('../includes/header') %>

<div class="columns is-vcentered">
    <div class="column">

        <p class="is-size-5" style="top:40%;">
            <%- lang.about.paragraph %>
        </p>

    </div>

    <div class="column is-two-fifths">
        <img src="/assets/img/about.png" alt="" />
    </div>
</div>


<%- include('../includes/footer') %>
