<%- include('../includes/header') %>

<div class="box">
    <h1 class="title has-text-centered">Fin de l'entraînement !</h1>
    <h2 class="subtitle has-text-centered">
        <% if (practice.endReason === "MANUAL") { %>
            Vous avez arrêté les exercices
        <% } else if (practice.endReason === "MAX_REACHED") { %>
            Objectif d'exercices atteint
        <% } else if (practice.endReason === "DEPLETED") { %>
            Vous avez fait tous les exercices des tags sélectionnés
        <% } %>
    </h2>

    <div class="columns is-align-items-center is-justify-content-center mt-3">

        <div class="columm is-parent is-vertical md-6">

            <article class="tile is-child notification is-light mt-3">
                <h3>Nombre d'exercices effectués</h3>
                <span class="is-size-3"><%= practice.exercisesDone.length %></span>
            </article>
            <br />
            <article class="tile is-child notification is-light mt-3">
                <h3>Pourcentage de réussite</h3>
                <span class="is-size-3">
                    <% if (practice.exercisesDone.length) { %>
                        <%= practice.exerciseSuccessCount / practice.exercisesDone.length * 100 %>%
                    <% } else { %>
                        0%
                    <% } %>
                </span>
            </article>

        </div>


        <div class="column is-one-quarter ml-6">
            <img src="/assets/img/end.png" alt="" />
        </div>

    </div>

    <div class="mt-3 has-text-centered">
        <form method="POST" action="/">
            <input class="button is-warning is-small mt-3" type="submit" name="finish" value="Terminer" />
        </form>
    </div>
</div>

<%- include('../includes/footer') %>
