<%- include('../includes/header') %>

<div class="box">
    <h1 class="title has-text-centered">Importer des exercices (en développement)</h1>

    <form method="POST" action="/manage/import" class="is-align-items-center is-justify-content-center">
        <div class="file has-name">
            <label class="file-label">
                <input class="file-input" type="file" name="resume" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choisir un fichier...
                    </span>
                </span>
                <span class="file-name">
                    Aucun fichier choisi
                </span>
            </label>
        </div>
    </form>
</div>

<%- include('../includes/footer') %>
