<%- include('../includes/header') %>

<h1 class="title">
    Ajouter un exerice
</h1>

<form method="POST" action="/exercise/new" class="ajax">

    <input type="hidden" name="_csrf" value="<%= csrf() %>">

    <!-- Title -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Titre</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="txtTitle" name="title" placeholder="Résolution équation différentielle linéaire du deuxieme ordre" maxlength="256" required />
                </p>
            </div>
        </div>
    </div>

    <!-- Title Preview -->
    <label class="label">Prévisualisation du titre</label>
    <div class="box">
        <p style="white-space: pre;" id="pTitle">

        </p>
    </div>

    <hr />

    <!-- Statement -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Énoncé</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" id="txtStatement" name="statement" placeholder="Résoudre sur $\mathbb{R}$ l'équation différentielle suivante : $y^{\prime}+y = x-e^{x}+\cos{x}$." maxlength="16384" required></textarea>
                </p>
            </div>
        </div>
    </div>

    <!-- Statement Preview -->
    <label class="label">Prévisualisation de l'énoncé</label>
    <div class="box">
        <p id="pStatement">

        </p>
    </div>

    <hr />

    <!-- Response -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Réponse</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" id="txtResponse" name="response" placeholder="$y(x) = x - 1 - \frac{1}{2}e^{x} + \frac{1}{2}\cos{x} + \frac{1}{2}\sin{x} + \lambda{e^{-x}}$" maxlength="16384" required></textarea>
                </p>
            </div>
        </div>
    </div>

    <!-- Repsonse Preview -->
    <label class="label">Prévisualisation de la réponse</label>
    <div class="box">
        <p id="pResponse">

        </p>
    </div>

    <hr />

    <!-- Timer -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Temps imparti (en secondes)</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="number" min="1" max="14400" name="time" placeholder="600" required />
                </p>
            </div>
        </div>
    </div>

    <hr />

    <!-- Tags -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Tags</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" name="tags" placeholder="PTSI,Derivées Partielles,Facile" />
                </p>
            </div>
        </div>
    </div>

    <button type="submit" class="button is-primary mt-2">Ajouter</button>

</form>

<script>
    addPreviewUpdate(document.querySelector("#txtTitle"), document.querySelector("#pTitle"), true, false);
    addPreviewUpdate(document.querySelector("#txtStatement"), document.querySelector("#pStatement"), true, true);
    addPreviewUpdate(document.querySelector("#txtResponse"), document.querySelector("#pResponse"), true, true);
</script>

<%- include('../includes/footer') %>
